<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TOKEN" value="LOGIN_TOKEN" />
    <add key="TOKEN_SECRET" value="LOGIN_TOKEN_SECRET" />
    <add key="CONSUMER_KEY" value="CONSUMER_KEY" />
    <add key="CONSUMER_SECRET" value="CONSUMER_SECRET" />
    <add key="API_BASE_URL" value="http://localhost:8890/" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
</configuration>
